.roadmapContainer {
   margin-top: 5px;
   display: block;
   background: #2a323d;
   border: 1px solid #3f4b5b;
   padding: 1rem 1.25rem;
   border-radius: 10px;
   gap: 0.5rem;   
}

.segmentBar * {
   box-sizing: border-box;
}

.segmentBar {
   display: flex;
   font-size: 12px;
   flex-wrap: nowrap;
   gap: 2px;   
   width: 100%;
   height: 30px;
   margin-bottom: 5px;
}

.segmentItemWrapper {
   display: inline-flex;
   height: 100%;
   padding: 0 4px;
   position: relative;
   overflow: hidden;
}
.segmentItemWrapper:first-child {
   border-radius: 5px 0 0 5px;
}
.segmentItemWrapper:last-child {
   border-radius: 0 5px 5px 0;
}

.segmentItemPlan {
   background: linear-gradient(
      to right,
      #067E23,
      #043914
   )
}

.segmentEmpty {
   background: linear-gradient(
      to right,
      #d2d4d5,
      #797d82
   )
}

.segmentItemPercentage {
   opacity: 0;
   color: white;
   position: absolute;
   bottom: 8px;
   right: 8px;
   font-size: 12px;
   font-family: monospace;
}

.segmentItemTitle {
   display: inline-block;
   line-height: 1;
   // padding: 4px 6px;
   border-radius: 3px;
   white-space: nowrap;
}

.segmentItemValue {
   color: white;
   position: absolute;
   bottom: 0px;
   left: 4px;
   font-size: 12px;
}

.segmentItemTitle {
   position: absolute;
   left: 4px;
   top: 0px;
   color: white;
   font-size: 12px;
   font-weight: 500;
}

.scale {
   position: absolute;
   margin-top: 30px;
   // background-color: #ff000011;
   width: calc(100% - 40px);
   z-index: 100;
   height: calc(100% - 35px);
   top: 0;
   .scalePointer {
      height: 100%; 
      width: 20%;
      border-right: solid 1px #ff5555; 
   }
}