$color-1: #0d6efd;
$color-2: #198754;
$color-3: #ffc107;
$color-4: #0dcaf0;
$color-5: #d63384;
$color-6: #6610f2;
$color-7: #dc3545;
$color-8: #7c8ea7;
.roadmap {
   padding: 0.5rem;
   margin-top: 0.5rem;
   .roadmapContainer {
      margin-top: 5px;
      display: block;
      background: #2a323d;
      border: 1px solid #3f4b5b;
      padding: 1rem 1.25rem;
      border-radius: 10px;
      gap: 0.5rem;   
   }
}

.segmentBar * {
   box-sizing: border-box;
}

.segmentBar {
   display: flex;
   font-size: 12px;
   flex-wrap: nowrap;
   width: 100%;
   height: 30px;
   position: relative;   
   z-index: 100;
}

.segmentItemWrapper {
   display: inline-flex;
   height: 100%;
   padding: 0;
   position: relative;
   overflow: hidden;
}
.segmentItemPlan {
   background: linear-gradient(
      to right,
      #067E23,
      #043914
   );
   .buttonBar {
      position: absolute;
      right: 10px;
      top: 8px;
      z-index: 51;
      .button {
         font-size: 13px;
         margin-right: 5px;         
      }
      .button:last-child{
         margin-right: 0;
      }
   }
}

.segmentItemFact {
   position: absolute;
   margin: 0;
   z-index: 50;
   height: 30px;
   background: linear-gradient(to right, #AE0623,      #590414);
}

.segmentEmpty {
   background: linear-gradient(
      to right,
      #d2d4d5,
      #797d82
   )
}

.segmentItemPercentage {
   opacity: 0;
   color: white;
   position: absolute;
   bottom: 8px;
   right: 8px;
   font-size: 12px;
   font-family: monospace;
}

.segmentItemTitle {
   display: inline-block;
   line-height: 1;
   white-space: nowrap;
   z-index: 51;
}

.segmentItemValue {
   color: white;
   position: absolute;
   bottom: 0px;
   left: 4px;
   font-size: 12px;
   z-index: 51;
}

.segmentItemTitle {
   position: absolute;
   left: 4px;
   top: 0px;
   color: white;
   font-size: 12px;
   font-weight: 500;
}

.scale {
   position: absolute;
   margin-top: 30px;
   width: calc(100% - 40px);
   z-index: 100;
   height: calc(100% - 35px);
   top: 0;
   .scalePointer {
      height: 100%; 
      width: 20%;
      border-right: solid 1px #ff5555; 
   }
}

.card {
   padding: 0.5rem;
   border-radius: 0.5rem;
   label {      
      font-weight: 600;
      font-size: .875rem
   }
   .fieldValue {
      color: var(--surface-500);
      font-style: italic;
   }
}

.controlPointsLayear {
   position: absolute;
   z-index: 101;
   height: 40px;
   width: calc(100% - 40px);
   pointer-events: none;
   .controlPoint {
      top: 0;  
      z-index: 102;
      width: 1px; 
      height: 100%; 
      border-left: solid 1px;
      position: inherit;
      .badge {
         min-width: 8px;
         height: 8px;
         line-height: 8px;
         margin-top: 34px;
         margin-left: -4px;
         background-color: inherit;
      }
   }
   div[data-color="1"] {
      border-left-color: $color-1;
      background-color:  $color-1;
   }
   div[data-color="2"] {
      border-left-color:  $color-2;
      background-color:  $color-2;
   }
   div[data-color="3"] {
      border-left-color:  $color-3;
      background-color:  $color-3;
   }
   div[data-color="4"] {
      border-left-color:  $color-4;
      background-color:  $color-4;
   }
   div[data-color="5"] {
      border-left-color:  $color-5;
      background-color:  $color-5;
   }
   div[data-color="6"] {
      border-left-color:  $color-6;
      background-color:  $color-6;
   }
   div[data-color="7"] {
      border-left-color: $color-7;
      background-color:  $color-7;
   }
   div[data-color="8"] {
      border-left-color:  $color-8;
      background-color:  $color-8;
   }
}

.chip{
   margin-right: 5px;
   margin-bottom: 5px;
   .chipName {
      margin-right: 5px;
   }
   i {
      cursor: pointer;
      font-size: 13px;
      margin: 2px 0 2px 5px;
   }
}
.chip[data-color="1"] {
   background-color: $color-1;
}
.chip[data-color="2"] {
   background-color: $color-2;
}
.chip[data-color="3"] {
   background-color: $color-3;
}
.chip[data-color="4"] {
   background-color: $color-4;
}
.chip[data-color="5"] {
   background-color: $color-5;
}
.chip[data-color="6"] {
   background-color: $color-6;
}
.chip[data-color="7"] {
   background-color: $color-7;
}
.chip[data-color="8"] {
   background-color: $color-8;
}
