.roadmapContainer {
   margin-top: 5px;
   display: block;
   background: #2a323d;
   border: 1px solid #3f4b5b;
   padding: 1rem 1.25rem;
   border-radius: 10px;
   gap: 0.5rem;   
}

.segmentBar * {
   box-sizing: border-box;
}

.segmentBar {
   display: flex;
   font-size: 12px;
   flex-wrap: nowrap;
   // gap: 2px;   
   width: 100%;
   height: 30px;
   margin-bottom: 5px;   
   .point {
      position: absolute;
      left: 20px;
      height: 30px;
      z-index: 52;
      pointer-events: none;
      border-right: solid 2px;
      width: calc(10% - 40px);
   }
}

.segmentItemWrapper {
   display: inline-flex;
   height: 100%;
   padding: 0;
   position: relative;
   overflow: hidden;
}
.segmentItemPlan {
   background: linear-gradient(
      to right,
      #067E23,
      #043914
   );
   .buttonBar {
      position: absolute;
      right: 10px;
      top: 8px;
      z-index: 51;
      .button {
         font-size: 13px;
         margin-right: 5px;         
      }
      .button:last-child{
         margin-right: 0;
      }
   }
}

.segmentItemFact {
   position: absolute;
   margin: 0;
   z-index: 50;
   height: 30px;
   background: linear-gradient(to right, #AE0623,      #590414);
}

.segmentEmpty {
   background: linear-gradient(
      to right,
      #d2d4d5,
      #797d82
   )
}

.segmentItemPercentage {
   opacity: 0;
   color: white;
   position: absolute;
   bottom: 8px;
   right: 8px;
   font-size: 12px;
   font-family: monospace;
}

.segmentItemTitle {
   display: inline-block;
   line-height: 1;
   white-space: nowrap;
   z-index: 51;
}

.segmentItemValue {
   color: white;
   position: absolute;
   bottom: 0px;
   left: 4px;
   font-size: 12px;
   z-index: 51;
}

.segmentItemTitle {
   position: absolute;
   left: 4px;
   top: 0px;
   color: white;
   font-size: 12px;
   font-weight: 500;
}

.scale {
   position: absolute;
   margin-top: 30px;
   width: calc(100% - 40px);
   z-index: 100;
   height: calc(100% - 35px);
   top: 0;
   .scalePointer {
      height: 100%; 
      width: 20%;
      border-right: solid 1px #ff5555; 
   }
}

.card {
   padding: 0.5rem;
   border-radius: 0.5rem;
}