.workGrid {
   padding: 0.5em !important;
   .workGridItem {
      margin-top: 10px;
      border: solid 1px #3F4B5B;
      padding: 5px;
      border-radius: 4px;
      .project {
         padding-bottom: 0;
         .dropdown {
            width: 100%;
         }
         .dropDown {
            background-color: #2A323D;
            border-style: none;
            border-width: 0;
            border-radius: 0;
            color: #fff;
            width: 34px;
         }
      }
      .workValue {
         display: grid;
         grid-template-columns: auto 50px;
         margin-bottom: 10px;
         .ratio {
            margin-left: 5px;
            input {
               width: 45px !important;
            }            
         }
      }
   }
}