.workGrid {
   padding: 0.5em !important;
   .workGridItem {
      margin-top: 10px;
      border: solid 1px #3F4B5B;
      padding: 5px;
      border-radius: 4px;
      small {
         color: #7F8B9B
      }
      .right {
         float: right;
      }
      label {
         font-size: 13px;
         color: #7F8B9B
      }
      .project {
         padding-bottom: 0;
         .dropdown {
            width: 100%;
         }
         .dropDown {
            background-color: #2A323D;
            border-style: none;
            border-width: 0;
            border-radius: 0;
            color: #fff;
            width: 34px;
         }
         .itemToolbar {
            display: grid;
            height: 16px;
            grid-template-columns: auto 20px;
            margin-bottom: 5px;
            .toolButton {               
               font-size: 10px;
               padding: 4px 0 0 3px;               
               margin: 0 2px 0 2px;
               border-radius: 50%;               
            }
            .dropButton {
               background-color: var(--red-700);
            }
            .dropButton:hover {
               background-color: var(--red-500);
            }
            .dropButton:active {
               background-color: var(--red-600);
            }
            .saveButton {
               background-color: var(--yellow-700);
            }
            .saveButton:hover {
               background-color: var(--yellow-500);
            }
            .saveButton:active {
               background-color: var(--yellow-600);
            }
            .disabledButton {
               background-color: var(--gray-700);
               color: var(--gray-400);
            }
         }
      }
      .workValue {
         display: grid;
         grid-template-columns: auto 50px;
         margin-bottom: 10px;
         .projectNote {
            width: 100%;         
         }
         .ratio {
            input {
               text-align: right;
               width: 45px !important;
            }            
         }
      }      
   }
}