.monthCalendar {
   margin-top: 1rem;
   font-size: 12px;
   .dataCell {
      height: 24px;
      width: 24px !important;
   }
   .cellBl {
      border-left: 1px solid #999999 !important;
   }
   
   .cellBr {
      border-right: 1px solid #999999 !important;
   }
   
   .cellBb {
      border-bottom: 1px solid #999999 !important;
   }
   
   .cellBt {
      border-top: 1px solid #999999 !important;
   }
   .calendarHeader {
      .cellHeader {
         height: 24px;
         border-right: 1px solid var(--surface-50);
         padding-top: 6px;
      }
      .cellWork {
         border-right: 1px solid var(--surface-50);
         background-color: var(--surface-200);
      }
      .cellHoliday {
         border-right: 1px solid var(--surface-50);
         background-color: var(--red-500);
      }
      .cellPreHoliday {
         border-right: 1px solid var(--surface-50);
         background-color: var(--red-300);
      }
   }
   .calendarRow {
      .cell0 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         background-color: var(--red-500);
         color: var(--red-500);
      }
      .cell1 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--gray-600);
         background-color: var(--red-100);
      }
      .cell2 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--pink-500);
         background-color: var(--pink-500);
      }
      .cell3 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--gray-600);
         background-color: var(--gray-100);
      }
      .cell4 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--gray-600);
         background-color: var(--surface-900);
         padding-top: 6px !important;
      }
      .cell5 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--orange-400);
         background-color: var(--orange-400);
      }
      .cell6 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--red-700);
         background-color: var(--red-700);
      }
      .cell7 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--red-300);
         background-color: var(--red-300);
      }
      .cell8 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--blue-600);
         background-color: var(--blue-600);
      }
      .cell9 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--gray-600);
         background-color: var(--gray-600);
      }
      .cell10 {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--red-500);
         background-color: var(--gray-100);
      }
      .cellHeader {         
         height: 24px;
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         background-color: var(--surface-200);
         padding-top: 6px !important;
      }
      .cellWork {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--gray-600);
         background-color: var(--surface-900);
      }
      .cellHoliday {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         background-color: var(--red-500);
         color: var(--red-500);
      }
      .cellPreHoliday {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         background-color: var(--red-300);
      }
      .cellVacancy {
         border-right: 1px solid var(--surface-50);
         border-top: 1px solid var(--surface-50);
         color: var(--orange-500);
         background-color: var(--orange-500);
      }
   }
   .calendarFooter {      
      .calendarLeftCell {   
         height: 36px !important;
         padding-top: 8px;
      }
      .cellVertical {
         height: 36px !important;
         font-weight: 700;
         writing-mode: vertical-rl;
      }
   }
}